<div class="container">
	<div class="row">
		<div class="col-5 offset-8">
			<div class="wrapper">
				<div class="form-signin">
					<div class="container">
						<div class="row">
							<div class="col-6">
								<span (click)="clickLogin()" style="background-color: lightgray" [ngClass]="{'border-dark':showLogin}" class="btn btn-block"> Zaloguj</span>
							</div>
							<div class="col-6">
								<span (click)="clickRegistration()" style="background-color: lightgray" [ngClass]="{'border-dark':showRegistration}" class="btn btn-block"> Zarejestruj</span>
							</div>
						</div>
					</div>
					<br/>
					<div *ngIf="showLogin">
						<form>
						<h3 class="form-signin-heading"> Logowanie</h3>
						<input [(ngModel)]="login" type="text" class="form-control" name="username" placeholder="Email" required="" autofocus=""/>
						<input [(ngModel)]="password" type="password" class="form-control" name="password" placeholder="Hasło" required=""/>
						<label class="checkbox">
							<input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Pamiętaj mnie
						</label>
						</form>
						<!--TODO: dac ponizszy przycisk o jedno wyzej. Teraz nie robie bo nie ma walidacji-->
						<button (click)="logIn()" class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
					</div>
					<div *ngIf="showRegistration">
						<form [formGroup]="registrationForm">
						<h3 class="form-signin-heading"> Rejestracja</h3>
						<input type="text" formControlName="email" class="form-control" name="email" placeholder="Email" required="" autofocus=""/>
						<input style="margin-top: 5px" formControlName="firstName" type="text" class="form-control" name="firstName" placeholder="Imie" required=""/>
						<input style="margin: 0; margin-top: 5px" formControlName="password" type="password" class="form-control" name="pw" placeholder="Hasło" required=""/>
						<input style="margin: 0; margin-top: 5px" type="password" pPassword class="form-control" name="pw2" placeholder="Potwierdź hasło" required=""/>
						<br/>
							<button (click)="register()" class="btn btn-lg btn-primary btn-block" type="submit">Zarejestruj</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
